<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="estilos/principal.css">
	<link rel="stylesheet" href="estilos/admin.css">
	<title>Inicio</title>
</head>

<body>

	<div th:include="plantilla.html::cabecera"></div>

	<div th:include="plantilla.html::navBar"></div>

	<main>

		<div th:include="plantilla.html::formulario"></div>

		<table>
			<thead>
				<th>Id</th>
				<th>Imagen</th>
				<th>Producto</th>
				<th>Precio</th>
				<th>Categoria</th>
				<th>Seccion</th>
				<th>Opciones</th>
			</thead>
			<tbody>
				<tr th:each="elemento : ${atr_listaProductos}">
					<td th:text="${elemento.id}"></td>
					<td>
						<img th:src="@{/imagenes/{foto}(foto=${elemento.foto})}" alt="Imagen"
							style="max-width: 100px; max-height: 100px;" />

						<br><a th:href="@{/borrarImagenServidor(id=${elemento.id})}">Borrar imagen del servidor </a>
					</td>
					<td th:text="${elemento.nombre}"></td>
					<td th:text="${elemento.precio}"></td>
					<td th:text="${elemento.categoria.categoria}"></td>
					<td th:text="${elemento.genero.genero}"></td>
					<td>
						<a th:href="@{/adminModificarPrenda(id=${elemento.id})}">Modificar </a>
						<br>
						<a th:href="@{/adminBorrarPrenda(id=${elemento.id})}">Borrar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>

	<div th:include="plantilla.html::pie"></div>

</body>

</html>