<!--Guarda todos los codigos que se quieran reutilizar en el html-->

<!--Cabecera con accesos directos-->
<div th:fragment="cabecera">
	<header>
		<div id="header">
			<a th:if="${session.sesion_usuario == null}" th:href="@{/superuser}" class="enlace_menu">Inicia sesion</a>
			<h1>Tienda Ropa</h1>
			<a th:if="${session.sesion_usuario != null}" th:href="@{/cerrarSesion}" class="enlace_menu">Cerrar
				sesion</a>
		</div>

		<!--		<div id="header_der">-->
		<!--			<img src="imagenes/facebook.png" alt="acceso a facebook" width="48px" height="48px">-->
		<!--			<img src="imagenes/instagram.png" alt="acceso a instagram" width="48px" height="48px">-->
		<!--		</div>-->
	</header>
</div>

<!--NAVBAR-->
<div th:fragment="navBar">
	<nav>
		<ul>
			<li th:each="elemento : ${atr_listaCategorias}">
				<a th:href="@{/menuGenerico(id=${elemento.id})}" class="enlace_menu"
					th:text="${elemento.categoria}"></a>
			</li>

		</ul>
	</nav>
</div>


<!--Contenedor productos-->
<div th:fragment="contenedorProductos">
	<section class="productos-container">
		<div class="producto" th:each="elemento : ${atr_listaProductos}">
			<img th:src="@{'/imagenes/' + ${elemento.foto}}" alt="">
			<h3 th:text=${elemento.nombre}></h3>
			<p th:text="${elemento.precio}" class="precio"> €</p>
			<p>Talla: M</p>
		</div>

	</section>
</div>


<!--FORMULARIO DE MODIFICAR y GUARDAR-->

<div th:fragment="formulario">
	<form class="product-form" method="POST" enctype="multipart/form-data" th:action="@{/guardarProducto}"
		th:object="${obj_producto}">

		<div class="form-group">
			<label for="productName">Nombre:</label>
			<input th:field="*{nombre}" th:value="*{nombre}" type="text" id="productName" name="nombre" required />
		</div>

		<div class="form-group">
			<label for="productPrice">Precio:</label>
			<input th:field="*{precio}" th:value="*{precio}" type="number" id="productPrice" name="precio" step="0.01"
				required />
		</div>

		<div class="form-group">
			<label for="productCategory">Categoría:</label>
			<select th:field="*{categoria.id}">
				<option th:each="elem : ${atr_listaCategorias}" th:value="${elem.id}" th:text="${elem.categoria}">
				</option>
			</select>

		</div>

		<div class="form-group">
			<label for="GenderCategory">Genero:</label>
			<select th:field="*{genero.id}" id="GenderCategory" name="genero">
				<option th:each="elem: ${atr_listaGeneros}" th:value="${elem.id}" th:text="${elem.genero}"></option>
			</select>
		</div>

		<div class="form-group">
			<label for="productImage">Imagen:</label>
			<input type="file" id="imagen" name="imagen" accept="image/*" />
		</div>

		<input type="hidden" id="id_hidden" name="id_hidden" th:field="*{id}" />
		<input type="hidden" id="imagen_hidden" name="imagen_hidden" th:field="*{foto}" />

		<button type="submit" class="submit-button">Guardar Producto</button>
	</form>

</div>
<!--FOOTER-->
<div th:fragment="pie">
	<footer>
		<p>Tienda de ropa S.L.</p>
	</footer>
</div>